streamlit
pandas
numpy
opencv-python
pytesseract
pillow
pdf2image
pdfplumber
camelot-py
scikit-learn
scipy
openpyxl
xlrd
XlsxWriter
tabulate
matplotlib
seaborn
plotly
altair
bokeh
pyyaml
python-dotenv
requests
beautifulsoup4
lxml
html5lib
markdown
mistune
jinja2
pygments
ipython
jupyter
notebook
ipykernel
nbconvert
nbformat
jupyter-client
jupyter-core
ipywidgets
widgetsnbextension
traitlets
tornado
pyzmq
prompt-toolkit
wcwidth
pygments
ptyprocess
pexpect
pickleshare
simplegeneric
decorator
six
python-dateutil
pytz
tzdata
babel
markupsafe
werkzeug
click
blinker
itsdangerous
flask
django
fastapi
uvicorn
gunicorn
pydantic
email-validator
dnspython
idna
chardet
urllib3
certifi
cryptography
pyopenssl
cffi
pycparser
bcrypt
passlib
argon2-cffi
argon2-cffi-bindings
poetry
pip
setuptools
wheel
build
twine
pkginfo
readme-renderer
docutils
pyparsing
packaging
appdirs
distlib
filelock
platformdirs
virtualenv
tox
nox
pytest
pytest-cov
pytest-xdist
pytest-mock
pytest-asyncio
pytest-timeout
pytest-benchmark
hypothesis
coverage
flake8
black
isort
mypy
pylint
pycodestyle
pydocstyle
bandit
safety
pre-commit
commitizen
cz-conventional-changelog
bumpversion
bump2version
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-napoleon
sphinxcontrib-programoutput
myst-parser
recommonmark
numpydoc
nbsphinx
jupyter-sphinx
sphinx-gallery
sphinx-copybutton
sphinx-tabs
sphinx-panels
sphinx-design
sphinx-inline-tabs
furo
pydata-sphinx-theme
myst-nb
jupyter-book
jupyterlab
jupyterhub
notebook
voila
panel
holoviews
hvplot
geoviews
datashader
xarray
netcdf4
h5py
hdf5
tables
pytables
blosc
zarr
dask
distributed
ray
modin
vaex
polars
duckdb
sqlalchemy
psycopg2
psycopg2-binary
mysql-connector-python
pymysql
sqlite3
sqlparse
alembic
pymongo
motor
redis
redis-py
celery
rabbitmq
kombu
billiard
eventlet
gevent
greenlet
grequests
aiohttp
aiofiles
httpx
http3
quic
asyncio
anyio
sniffio
trio
curio
asks
nest-asyncio
async-timeout
backoff
tenacity
retry
schedule
apscheduler
croniter
python-crontab
arrow
pendulum
dateparser
tzlocal
timezonefinder
pytimeparse
humanfriendly
humanize
inflect
num2words
phonenumbers
pycountry
iso3166
iso639
langdetect
textblob
nltk
spacy
transformers
torch
torchvision
torchaudio
tensorflow
keras
scikit-image
imageio
scikit-video
opencv-contrib-python
simplecv
mahotas
pillow
qrcode
pyqrcode
segno
barcode
python-barcode
pdfkit
weasyprint
xhtml2pdf
reportlab
fpdf
fpdf2
pypdf2
pypdf3
pypdf4
pikepdf
pypdf
pymupdf
pdfminer
pdfminer.six
slate
tabula-py
camelot-py
pdfplumber
pypdfocr
ocrmypdf
pytesseract
tesseract
easyocr
keras-ocr
paddleocr
paddlepaddle
paddlehub
paddleseg
paddledetection
paddleclas
paddlerec
paddlespeech
paddlenlp
paddleocr
paddle
paddlepaddle-gpu
paddlehub
paddleseg
paddledetection
paddleclas
paddlerec
paddlespeech
paddlenlp
opencv-python
opencv-contrib-python
opencv-python-headless
pillow
imageio
scikit-image
mahotas
simplecv
qrcode
pyqrcode
segno
barcode
python-barcode
pdfkit
weasyprint
xhtml2pdf
reportlab
fpdf
fpdf2
pypdf2
pypdf3
pypdf4
pikepdf
pypdf
pymupdf
pdfminer
pdfminer.six
slate
tabula-py
camelot-py
pdfplumber
pypdfocr
ocrmypdf
pytesseract
tesseract
easyocr
keras-ocr
paddleocr
paddlepaddle
paddlehub
paddleseg
paddledetection
paddleclas
paddlerec
paddlespeech
paddlenlp
opencv-python
opencv-contrib-python
opencv-python-headless
pillow
imageio
scikit-image
mahotas
simplecv
qrcode
pyqrcode
segno
barcode
python-barcode
pdfkit
weasyprint
xhtml2pdf
reportlab
fpdf
fpdf2
pypdf2
pypdf3
pypdf4
pikepdf
pypdf
pymupdf
pdfminer
pdfminer.six
slate
tabula-py
camelot-py
pdfplumber
pypdfocr
ocrmypdf
pytesseract
tesseract
easyocr
keras-ocr
paddleocr
paddlepaddle
paddlehub
paddleseg
paddledetection
paddleclas
paddlerec
paddlespeech
paddlenlp
opencv-python
opencv-contrib-python
opencv-python-headless
pillow
imageio
scikit-image
mahotas
simplecv
qrcode
pyqrcode
segno
barcode
python-barcode
pdfkit
weasyprint
xhtml2pdf
reportlab
fpdf
fpdf2
pypdf2
pypdf3
pypdf4
pikepdf
pypdf
pymupdf
pdfminer
pdfminer.six
slate
tabula-py
camelot-py
pdfplumber
pypdfocr
ocrmypdf
pytesseract
tesseract
easyocr
keras-ocr
paddleocr
paddlepaddle
paddlehub
paddleseg
paddledetection
paddleclas
paddlerec
paddlespeech
paddlenlp
